.color {
  color: red;
}
.form {
  margin: 20px auto;
  width: 450px;
  height: 100px;
  background-color: rgba(34, 34, 34, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.input {
  width: 250px;
  height: 40px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
  border-radius: 8px 0 0 8px;
}
.button {
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  font-size: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: gray;
  font-weight: bold;
}
